<div class="container">
  <div class="row no-gutters">
    <div class="col-12">
      <h3>I'm in the app component</h3>
      <hr>
      <app-servers></app-servers>
      <!-- <div app-servers></div> -->
      <!-- <div class="app-servers"></div> -->
    </div>

    <div class="col-12">
      <hr>
      <app-assignments></app-assignments>
    </div>

    <div class="container">
      <hr>
      Section 5
      <div class="row">
        <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <app-server-element *ngFor="let server of serverElements" [element]="server"></app-server-element>
        </div>
      </div>
    </div>
  </div>
</div>
